.vscode/settings.json

.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings copy.json
.vscode/tasks.json
main
adventure.dSYM/Contents/Info.plist
main.dSYM/Contents/Info.plist
.vscode/launch.json
.vscode/c_cpp_properties.json
a.exe
